<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
  <meta charset="UTF-8">
  <title>Board_One</title>
</head>
<body>
<div class="container w-75">
    <div th:replace="fragments/header :: nav" class="w-100"></div>
    <h2 class="text-center mt-5 mb-5"><b>게시글 내용</b> </h2>
  <div class="container">
    <div class="d-flex flex-row-reverse">
        작성자 : [[${user}]]
    </div>
    <div class="d-flex flex-column">
        <div class="border p-2 text-center w-auto" th:text="${board.title}">
        </div>
        <div class="border p-2 w-auto" th:text="${board.content}" style="height:400px">
          내용입니다.
        </div>
      </div>
    </div>
    <button th:if="${session.user.nickname == board.member.nickname}" class="btn btn-secondary btn-lg float-right mr-3 mt-3">
        <a th:href="@{/board/modify/{id}(id = ${board.id})}">
            수정!
        </a>
    </button>
  <div class="float-right pr-5 pt-5" th:text="${#temporals.format(board.create_at,'yyyy-MM-dd')}">
    작성날짜
  </div>
</div>
</body>

</html>