<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
  <meta charset="UTF-8">
  <title>Board</title>
</head>
<body>
<div class="container w-75">
  <h2 class="text-center mt-5 mb-5"><b>오늘도 신나는 사람들의 소리!!</b> </h2>
  <div class="d-flex flex-row justify-content-around mt-5 pt-5 mb-5">
    <table class="table table-striped">
      <tr>
        <td>번호</td>
        <td>아이디</td>
        <td>제목</td>
        <td>등록날짜</td>
        <td>공개&비밀</td>
      </tr>
      <tr th:each="item:${list}">
        <td th:text="${item.id}"></td>
        <td th:text="${item.member.nickname}"></td>
        <td>
          <a
             th:href="@{/board/board_one/{id}(id = ${item.id})}"
             th:text="${item.title}">
            카테고리
          </a>
        </td>
        <td th:text="${item.create_at}"></td>
        <td th:if="${item.private_content == 0}" th:text="공개글"></td>
        <td th:if="${item.private_content == 1}" th:text="비밀글"></td>
      </tr>
    </table>
  </div>
  <button class="btn btn-secondary btn-sm float-right"><a href="/board/write" onclick="location.href='/board/write'">게시글 작성</a></button>
</div>
</body>
</html>