<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
  <meta charset="UTF-8">
  <title>Board_One</title>
</head>
<body>
<div class="container w-75">
        <div th:replace="fragments/header :: nav" class="w-100"></div>
        <h2 class="text-center mt-5 mb-5"><b>게시글 내용</b> </h2>
        <div class="container">
            <div class="d-flex flex-row-reverse">
                작성자 : [[${user}]]
            </div>
            <div class="d-flex flex-column">
                <div class="border p-2 text-center w-auto" th:text="${board.title}">
                </div>
                <div class="border p-2 w-auto" th:text="${board.content}" style="height:400px">
                  내용입니다.
                </div>
            </div>
        </div>
        <div class="container d-flex flex-column">
            <a th:href="@{/board/modify/{id}(id = ${board.id})}" id="title">
                <button th:if="${session.user.nickname == board.member.nickname}" class="btn btn-secondary btn-lg float-right mt-3">
                        수정!
                </button>
            </a>
            <div class="d-flex justify-content-end mt-2 mb-5">
                <span th:text="${#temporals.format(board.create_at,'yyyy-MM-dd')}"></span>
            </div>
            <form class="d-flex" action="/new_reply" method="post">
                <input type="hidden" name="nickname" th:value="${session.user.nickname}">
                <input type="hidden" name="id" th:value="${id}">
                <input type="hidden" name="board_id" th:value="${board.id}">
                <div class="card mb-2 w-100">
                <div class="card-header bg-light">
                    <i class="fa fa-comment fa"></i> 댓글쓰기
                </div>
                <div class="card-body">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <div class="form-inline mb-2" th:text="${session.user.nickname}">
                            </div>
                            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="content"></textarea>
                            <button type="submit" class="btn btn-dark mt-3 float-right">댓글 등록</button>
                        </li>
                    </ul>
                </div>
              </div>
            </form>
            <div class="container border mt-2 ">
                <div th:each="reply:${board.replies}">
                    <div class="d-flex flex-row">
                        <img src="/image/user_image.png" alt="" style="width: 36px; height: 36px; border-radius: 3em;" class="ml-2 mt-5 mr-2 mb-2">
                        <div class="mt-5" th:text="${reply.member.nickname}">
                            작성자
                        </div>
                    </div>
                    <div class="flex flex-column">
                        <textarea class="w-100" th:text="${reply.content}">
                                내용을 입력해주세요
                        </textarea>
                        <div class="d-flex justify-content-end" th:text="${#temporals.format(reply.create_at,'yyyy-MM-dd')}">
                            작성날짜
                        </div>
                    </div>
                    <hr>
                </div>
            </div>
        </div>
</div>
</body>

</html>