<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
    <meta charset="UTF-8">
    <title>MainPage</title>
</head>
<body>
    <div class="container w-75">
        <h2 class="text-center mt-5"> 신사들의 게시판 </h2>
        <span class="mt-5 mb-5 d-flex flex-row-reverse" th:if="${session.user != null}" >
            [[${session.user.nickname}]] 님 환영합니다!!
        </span>
        <span class="mt-5 mb-5 d-flex flex-row-reverse" th:if="${session.user == null}">
            로그인하지 않으셧네요ㅠㅠ...
        </span>
        <div class="d-flex flex-row justify-content-around mt-3 mb-5">
                <button type="button" class="btn btn-primary p-2 btn-lg" style="width:170px" onclick="location.href='member/loginform'">
                    로그인
                </button>
            <button type="button" class="btn btn-primary p-2 btn-lg" style="width:170px" onclick="location.href='member/joinForm'">
                회원가입
            </button>
        </div>
        <div class="d-flex flex-row justify-content-around mt-5">
            <button type="button" class="btn btn-primary p-2 btn-lg" style="width:170px" onclick="location.href='/board/main'">
                게시판
            </button>
            <button type="button" class="btn btn-primary p-2 btn-lg" style="width:170px">
                로그아웃
            </button>
        </div>
    </div>
</body>
</html>