<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
  <meta charset="UTF-8">
  <title>Write</title>
</head>
<body>
<div class="container w-75">
  <div th:replace="fragments/header :: nav" class="w-100"></div>
  <h2 class="text-center mt-5"> 게시글을 작성하세요! </h2>
  <form action="/board/writeAction" method="post" onsubmit="return nepCheck();">
  <div class="form-group">
    <label for="exampleFormControlTextarea1">제목을 입력해주세요</label>
    <input type="text" class="form-group w-100" name="title" >
  </div>
  <div class="form-group">
    <label for="exampleFormControlTextarea1">게시글을 작성해주세요!</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="content"></textarea>
  </div>
  <select name="private_content" id="private_content" onchange="checking()">
    <option value="0">공개</option>
    <option value="1">비공개</option>
  </select>
    <input type="hidden" placeholder="비밀번호를 입력하세요" class="ml-4" id="private_content_password" maxlength="4" name="private_content_password">
  <button class="btn btn-secondary btn-lg float-right">작성!</button>
  </form>

</div>
</body>
<script type="text/javascript">
    function checking(){
        if(private_content.value == 1){
            $('#private_content_password').attr('type','text');
        }else{
            $('#private_content_password').attr('type','hidden');
        }
    }
    function nepCheck(){

      if($("#private_content_password").val() == 0 && private_content.value == 1){
        alert("비공개 글은 비밀번호를 입력해야 합니다.");
        $("#private_content_password").focus();
        return false;
      }

    }
</script>
</html>